.layout {
    width: 100%;
}

.content {
    min-height: 400px;
    max-width: 960px;
    margin-top: 10px;
}

.mainContainer {
    min-height: 100vh;
    position: relative;
    background-color: white;
}