@import '../../fonts/FontFaces';

.container {
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4);
    background-color: lightGrey;
    min-height: 300px;
    margin: 10px;
}

.title {
    font-family: 'inerta-bold';
    font-size: 25px;
}

.image {

}

.body {
    font-family: 'inerta-thin';
    font-size: 12px;
    text-align: left;
}

.button {
    width: 50%;
    justify-self: center;
    height: 30px;
    align-self: center;
}