@import '../../fonts/FontFaces';

.footerHeight {
    height: 40px;
}

.innerFooter {
    @extend .footerHeight;
    background-color: white;
    text-align: center;
    line-height: 40px;
    font-weight: 150;
}

.copyrightDescription {
    font-family: 'inerta-thin';
    font-size: 11px;
    letter-spacing: 1px;
    color: black;
}

.outerFooter {
    @extend .footerHeight;
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100vw;
}   
