@import '../fonts/FontFaces';

.font {
    font-family: 'inerta-thin';
}

.newsletterContent {
    @extend .container;
    background-color: #5f697a;
    height: 300px;
}

.container {
    margin-top: 20px;
}